<h1>Home Page</h1>

<h2>Medicals</h2>
<%= link_to "Add medical", controller: "medicals", action: "new" %><br />
<%= link_to "View medicals", controller: "medicals", action: "index" %>

<h2>Airplanes</h2>
<%= link_to "Add airplane", controller: "airplanes", action: "new" %><br />
<%= link_to "View airplanes", controller: "airplanes", action: "index" %>
